PROJECT_NAME=kipina-pilot
APP_ENV=production
PUBLIC_BASE_URL=https://pilot.kipina.digiter.fi
REVEAL_ENGINE_BASE_URL=
REVEAL_TENANT_KEY_ARKI=
REVEAL_TENANT_KEY_OPPIMINEN=
REVEAL_TENANT_KEY_YRITYS=
REVEAL_TENANT_KEY_EN_TIEDA=
