pilot.kipina.digiter.fi {
	handle /api/prototype/* {
		reverse_proxy localhost:8083
	}

	handle /api/templates/* {
		reverse_proxy localhost:8085
	}

	handle /api/concepts/* {
		reverse_proxy localhost:8082
	}

	handle /api/* {
		reverse_proxy localhost:8081
	}

	handle {
		reverse_proxy localhost:8080
	}
}
